
@import "components/navigation";
@import "components/timer";
@import "components/login";


@import "reusable/fonts";



html,body{
    font-family:'Raleway';
    font-size:1.5rem;
    background:#f3f3f3;
  }
  
  *{
    box-sizing:border-box;
    padding:0;
    margin:0;
  }