<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  </head>
    <body>

        <div class="login__container">
            <h2>Welcome to Your Personal TimerApp</h2>
            <div class="login__container--form">
                <form action="/signup" method="POST">
                    <input type="text" placeholder="Jane Dandy"  name="username" required>
                    <input type="password" placeholder="not 1234" name="password" required>
                    <button class="login__container--btn">Submit</button>
                </form>
            </div>
        </div>

            <script src="/javascripts/bundle.js"></script>
    </body>
</html>