<% include partials/header %>

        <div class="login__container">
                <% if(error && error.length > 0) { %>
                    <div class="failure-msg"><%= error %> </div>
                <% } %> 
            <h2>Welcome to Your Personal TimerApp</h2>
            <div class="login__container--form">
                <h6>Signup Page</h6>
                <p>Please signup, or if you have an account please <a href="/login">login</a></p>
                <form action="/signup" method="POST">
                    <label for="username">Username</label>
                    <input type="text" placeholder="Jane Dandy"  name="username" required>
                    <label for="password">Password</label>
                    <input type="password" placeholder="not 1234" name="password" required>
                    <button class="login__container--btn">Submit</button>
                </form>
            </div>
        </div>

<% include partials/footer %>