<% include partials/header %>


        <div class="login__container">
                <% if(success && success.length > 0) { %>
                    <div class="success-msg"><%= success %> </div>
                <% } %> 
                <% if(error && error.length > 0) { %>
                    <div class="failure-msg"><%= error %> </div>
                <% } %> 

            <h2>Welcome to Your Personal TimerApp</h2>
            <div class="login__container--form">
                    <p>Please login, or if don't you have an account please <a href="/">signup</a></p>
                <form action="/login" method="POST">
                    <label for="username">Username</label>
                    <input type="text" placeholder="Jane Dandy"  name="username" required>
                    <label for="password">Password</label>
                    <input type="password" placeholder="not 1234" name="password" required>
                    <button class="login__container--btn">Submit</button>
                </form>
            </div>
        </div>
        
<% include partials/footer %>