nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 2rem;
  margin: 2rem 0;
  background: #fff;
  box-shadow: 0 0 3px #eee;
  width: 100vw; }

.addtimer__btn {
  padding: .5rem 1rem;
  color: #fff;
  background: green;
  transition: all .3s ease;
  border: 2px solid green;
  border-radius: 5px; }
  .addtimer__btn:hover {
    cursor: pointer;
    background: #004d00;
    border: 2px solid #004d00;
    box-shadow: 0 4px 4px #666; }

.progress__bar {
  width: 100%;
  height: 1.5rem;
  border-radius: 2px;
  background: #eee;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .progress__bar--fill {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    background: dodgerblue;
    transition: all 1.2s ease; }

.counter__display {
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 5px; }
  .counter__display--container {
    background: #fff;
    padding: 2rem;
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    box-shadow: 0 4px 4px #eee; }
    .counter__display--container--time {
      display: flex;
      flex-direction: row;
      align-items: center; }

.timer__display {
  display: flex;
  flex-direction: row; }
  .timer__display input {
    padding: .4rem;
    border-radius: 5px;
    border: 2px solid dodgerblue;
    box-shadow: 0 2px 2px #eee;
    margin: 0 5px;
    transition: all .2s ease-in-out; }
    .timer__display input:hover {
      box-shadow: 0 5px 5px #999; }
    .timer__display input:focus {
      outline: none; }
  .timer__display .btn__timer--stop {
    border-radius: 5px;
    background: red;
    border: 2px solid red;
    color: #fff;
    transition: all .2s ease-in-out;
    margin: 0 5px;
    padding: .5rem; }
    .timer__display .btn__timer--stop:hover {
      background: #cc0000;
      border: 2px solid #cc0000;
      cursor: pointer;
      box-shadow: 0 5px 5px #999; }
  .timer__display .btn__timer--start {
    border-radius: 5px;
    background: dodgerblue;
    border: 2px solid dodgerblue;
    color: #fff;
    transition: all .2s ease-in-out;
    margin: 0 5px;
    padding: .5rem; }
    .timer__display .btn__timer--start:hover {
      background: #0077ea;
      border: 2px solid #0077ea;
      cursor: pointer;
      box-shadow: 0 5px 5px #999; }
  .timer__display .btn__timer--clear {
    border-radius: 5px;
    background: #ff4500;
    border: 2px solid #ff4500;
    color: #fff;
    transition: all .2s ease-in-out;
    margin: 0 5px;
    padding: .5rem; }
    .timer__display .btn__timer--clear:hover {
      background: #cc3700;
      border: 2px solid #cc3700;
      cursor: pointer;
      box-shadow: 0 5px 5px #999; }

.audio__player {
  margin: 2rem 0; }
  .audio__player .btn__audio--stop {
    border-radius: 5px;
    background: red;
    border: 2px solid red;
    color: #fff;
    transition: all .2s ease-in-out;
    margin: 0 5px;
    padding: .5rem; }
    .audio__player .btn__audio--stop:hover {
      background: #cc0000;
      border: 2px solid #cc0000;
      cursor: pointer;
      box-shadow: 0 5px 5px #999; }

.login__container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eee; }
  .login__container--form {
    background: #fff;
    box-shadow: 0 5px 5px #d5d5d5;
    border-radius: 5px;
    min-height: 20rem;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 2rem; }
    .login__container--form p {
      font-size: .8rem; }
    .login__container--form form {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60%; }
      .login__container--form form label {
        font-size: .8rem; }
      .login__container--form form input {
        margin: .5rem 0;
        height: 1.5rem;
        border-radius: 3px;
        border: 1px solid dodgerblue;
        padding: .5rem; }
      .login__container--form form button {
        min-height: 1rem;
        border-radius: 2px;
        background: dodgerblue;
        border: dodgerblue;
        color: #fff; }

h5 {
  color: #666;
  text-transform: uppercase;
  z-index: 1;
  margin: 1rem; }

.success-msg {
  font-size: .8rem;
  color: #fff;
  background: #51a9ff;
  border: 2px solid dodgerblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  padding: 1rem;
  width: 100vw; }

.failure-msg {
  font-size: .8rem;
  color: #fff;
  background: #ff3333;
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  padding: 1rem;
  width: 100vw; }

html, body {
  font-family: 'Raleway';
  font-size: 1.5rem;
  background: #f3f3f3; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }
