

.login__container{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background: #eee;

    &--form {
        background: #fff;
        box-shadow: 0 5px 5px darken(#eee, 10%);
        border-radius:5px;
        min-height: 20rem;
        min-width:20rem;
        display:flex;
        flex-direction:column;
    }
}