
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:2rem;
    height:2rem;
    margin:2rem 0;
    background:#fff;
    box-shadow: 0 0 3px #eee;
    width:100vw;
  }

  .addtimer{
    
    &__btn {
    padding: .5rem 1rem;
    color:#fff;
    background: green;
    transition: all .3s ease;
    border: 2px solid green;
    border-radius: 5px;

      &:hover{
        cursor:pointer;
        background: darken(green,10%);
        border: 2px solid darken(green,10%);
        box-shadow: 0 4px 4px #666;
      }
    }
  }


  
  